.kerala{
    font-size: medium;
    color: white;
}

.tvpm
{
    background-image: url(pathma1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .tvpm1
{
    background-image: url(magicplanet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.kollam
{
    background-image: url(kollamdist1.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .kollam1
{
    background-image: url(thangassery.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}
.pathnm
{
    background-image: url(konni.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .pathnm1
{
    background-image: url(perunthen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}
.alpy
{
    background-image: url(alappuzha-beach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .alpy1
{
    background-image: url(alleppey-backwater.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}
.ktym
{
    background-image: url(vagamon.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .ktym1
{
    background-image: url(illikkal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}
.idukki
{
    background-image: url(idukki.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .idukki1
{
    background-image: url(ekmshiva\ temple.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}
.ekm
{
    background-image: url(ekmshiva\ temple.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .ekm1
{
    background-image: url(fortkochi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}
.thrsr
{
    background-image: url(tmplethrsr.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .thrsr1
{
    background-image: url(vazhachal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}
.plkd
{
    background-image: url(nelliyampathi-kerala.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .plkd1
{
    background-image: url(Damplkd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}
.mlprm
{
    background-image: url(kadalundi_bird_sanctuary.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .mlprm1
{
    background-image: url(kodikuthimala.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}
.kzkd
{
    background-image: url(kozhikode-beach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .kzkd1
{
    background-image: url(kakkayam-dam-site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}
.wynd
{
    background-image: url(edakkal-caves.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.tem
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    scroll-behavior: smooth;
}
p{
    margin-top: 5%;
}
.center {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .wynd1
{
    background-image:url(meenmutty-waterfalls.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}
